@import "../../_config.scss";
@import url('https://fonts.googleapis.com/css?family=Lato.css');
@import "../../vars/colors.scss";

.navbar {
    border: none;
    border-radius: 0;
}

.navbar-nav>li>a {
    padding: 0;
}

.header {
    background-color: white;
    margin: 0;
    border-radius: 0;

    .navbar-toggle {
        padding: 32px;
        border-color: white;

        &:hover {
            background-color: white;
            border-color: white;
        }
    }

    .navbar-brand {
        float: left;
        color: black;
        font-size: 28px;
        font-weight: 100;
        padding-left: 30px;
        padding-top: 40px;

        @media(max-width: 840px) {
            font-size: 22px;
        }

        @media(max-width: 767px) {
            font-size: 28px;
        }

        @media(max-width: 360px) {
            font-size: 22px;
        }

        text-decoration: none;
        @include transition(0.3s ease-in-out);
        cursor: pointer;

        &:hover {
            color: $site-color-blue;
            @include transition(0.3s ease-in-out);
        }
    }

    .collapse-toggle {
        float: right;
        text-align: right;
        padding-right: 30px;
    }

    .container {
        padding-right: 0;
        margin-right: 0;
    }

    .container-fluid {
        padding: 0;
    }

    .header-item {
        text-decoration: none;
        @include transition(0.6s ease-in-out);
        cursor: pointer;
        outline: none;
        padding-top: 40px;
        padding-bottom: 40px;
        @media(max-width: 767px) {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .header-link {
            color: black;
            font-size: 20px;
            font-weight: 1;
            outline: none;
            padding: 40px;
            @media(max-width: 1100px) {
                padding-left: 10px;
                padding-right: 10px;
            }
            @media(max-width: 767px) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        @media(min-width: 767px) {
            &:hover {
                a {
                    outline: none;
                    color: white;
                    @include transition(0.6s ease-in-out);
                }
                background-color: $site-color-blue;
                @include transition(0.6s ease-in-out);
            }
        }
    }
}
