@import "../../_config.scss";
@import url('https://fonts.googleapis.com/css?family=Lato.css');
@import "../../vars/colors.scss";

.full-footer {
    @media(max-width: 590px) {
        display: none;
    }
}

.mobile-footer {
    display: none;
    @media(max-width: 590px) {
        display: block;
    }
}

.footer {
    display: block;
    bottom: 0;
    background-color: white;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    opacity: 0.9;
    @media(max-width: 590px) {
        opacity: 1;
    }

    i {
        margin-left: 10px;
        font-size: 12px;
        font-weight: 300;
        color: #666666;
        padding: 2px;
    }

    .github {
        float: right;
        margin-right: 10px;
        color: #666666;
        font-size: 17px;
    }
}

.navbar-default .navbar-nav > li > a:hover {
    color: $site-color-blue;
}
