@import "../../_config.scss";
@import url('https://fonts.googleapis.com/css?family=Lato.css');
@import "../../vars/colors.scss";

.contact-title {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 70px;
    @media(max-width: 1000px) {
        font-size: 50px;
        padding-top: 20px;
    }
    @media(max-width: 600px) {
        font-size: 30px;
        padding-top: 10px;
    }
}

.contact-body {
    position: relative;
    text-align: center;
    padding-top: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    color: white;
    padding-bottom: 50px;
    @media (max-width: 590px) {
        padding-bottom: 10px;
    }

    .github-button {
        margin: 10px auto 50px;
        @media (max-width: 590px) {
            margin-bottom: 20px;
        }
    }

    .linkedin-button {
        margin: 10px auto 50px;
    }

    .email-button {
        margin: 10px auto 50px;
    }

    button {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        background-color: white;
        color: black;
        border: 3px solid black;
        border-radius: 3px;
        padding: 15px 50px;
        text-align: center;
        text-decoration: none;
        display: block;
        font-size: 20px;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        cursor: pointer;
        @media(max-width: 540px) {
            font-size: 18px;
            padding: 15px 30px;
        }
    }

    button:hover {
        background-color: black;
        border: 3px solid;
        border-color: black;
        color: white;
    }
}
