@import "../../_config.scss";
@import url('https://fonts.googleapis.com/css?family=Lato.css');
@import "../../vars/colors.scss";

html, body {
    height: 100%;
    background-color: $site-color-blue;
}

.project-title {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 70px;
    @media(max-width: 1000px) {
        font-size: 40px;
        padding-top: 20px;
    }
}

.project-body {
    padding-top: 50px;
    padding-bottom: 200px;
    font-family: "Lato", sans-serif;
    font-weight: 300;

    .spotify-title {
        color: white;
        margin: auto;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 60px;
        padding-top: 20px;
        padding-bottom: 60px;
        line-height: 50px;
        @media(max-width: 1000px) {
            font-size: 40px;
            padding-top: 0;
            padding-bottom: 40px;
        }
    }

    .spotify-photo {
        width: 80%;
        margin: auto;
    }

    .spotify-media {
        padding-bottom: 0;

        img {
            display: inline-block;
            vertical-align: top;
            width: 50%;
            padding-right: 2%;
        }
    }

    .spotify-body {
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: justify;

        .spotify-description {
            a {
                font-weight: bold;
                color: white;
                @include transition(0.6s ease-in-out);

                &:hover {
                    color: black;
                    @include transition(0.6s ease-in-out);
                }
            }
            color: white;
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 40px;
            line-height: 50px;

            @media(max-width: 1500px) {
                font-size: 40px;
                line-height: 50px;
            }
            @media(max-width: 1000px) {
                font-size: 30px;
                line-height: 40px;
            }
            @media(max-width: 500px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }

    .tidal-title {
        color: white;
        margin: auto;
        text-align: center;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 60px;
        padding-top: 150px;
        padding-bottom: 60px;
        @media(max-width: 1000px) {
            font-size: 40px;
            padding-top: 80px;
            padding-bottom: 40px;
        }
    }

    .tidal-photo {
        width: 80%;
        margin: auto;

        img {
            width: 100%;

            @include transition(0.3s ease-in-out);

            &:hover {
                opacity: 0.7;
                @include transition(0.3s ease-in-out);
            }
        }
    }

    .tidal-body {
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: justify;

        .tidal-description {
            color: white;
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 40px;
            line-height: 50px;

            @media(max-width: 1500px) {
                font-size: 40px;
                line-height: 50px;
            }
            @media(max-width: 1000px) {
                font-size: 30px;
                line-height: 40px;
            }
            @media(max-width: 500px) {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}
