@import "../../_config.scss";
@import url('https://fonts.googleapis.com/css?family=Lato.css');
@import "../../vars/colors.scss";

html, body {
    height: 100%;
    background-color: $site-color-blue;
}

.project-title {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    @media(max-width: 540px) {
        font-size: 30px;
        padding-top: 10px;
    }
}

.project-body {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-bottom: 50px;
    @media (max-width: 590px) {
        padding-bottom: 10px;
    }
}
